.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .projects-heading {
    font-size: 208px;
    margin-bottom: 20px;
    background-color: #d2a41a8e;
    border-radius: 2rem;
    
    text-align: center;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .project-item {
      flex: 0 0 calc(33.333% - 20px);
      box-sizing: border-box;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        flex: 0 0 calc(50% - 20px);
      }

      @media (max-width: 480px) {
        flex: 0 0 100%;
      }


      .project-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;

        .card-body {
          padding: 20px;

          .card-title {
            font-size: 30px;
            margin-bottom: 10px;
          }

          .card-text {
            font-size: 20px;
            margin-bottom: 15px;
           
          }

          .project-buttons {
            display: flex;

            .deployed-button,
            .github-button {
              padding: 10px;
              margin-right: 10px;
              text-decoration: none;
              color: #fff;
              border-radius: 5px;

              &.deployed-button {
                background-color: #4caf50; 
              }

              &.github-button {
                background-color: #0366d6; 
              }
            }
          }
        }
      }
    }
  }
}
