.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  transition: background-color 0.3s ease-in-out;

  &.active {
    background-color: rgba(255, 255, 255, 0.9);
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0; 
  }

  .app__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 350px;
      height: auto;
      border-radius: 10px;
      border: none;

      @media screen and (min-width: 2460px) {
        max-width: 180px;
        height: 40px;
      }
    }
  }

  .navbar-link {
    font-size: 1.5rem;
    padding: 1rem;
    font-family: serif;
    text-decoration: none;
    color: #333;

    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }
}
